  <!--blogsbox end-->
  <div class="sidebar">
    <div class="zhuanti">
      <h2 class="hometitle">特别推荐</h2>
      <ul>
      @foreach(var item in ViewBag.SpecialRecommendNewsList)
      {
        <li> <i><img src="@item.image"></i>
          <p>@item.title <span><a href="/blog/@ViewBag.Index/news/@item.id">阅读</a></span> </p>
        </li>
      }       
      </ul>
    </div>
    <div class="tuijian">
      <h2 class="hometitle">推荐文章</h2>
      <ul class="tjpic">
        <i><img src="@ViewBag.RecommendNewsFirst.image"></i>
        <p><a href="/blog/@ViewBag.Index/news/@ViewBag.RecommendNewsFirst.id">@ViewBag.RecommendNewsFirst.title</a></p>
      </ul>
      <ul class="sidenews">
      @foreach (SkyBlog.Models.DbModel.news item in ViewBag.RecommendNewsList)
      {
        <li> <i><img src="@item.image"></i>
            <p><a href="/blog/@ViewBag.Index/news/@item.id">@item.title</a></p>
            <span>@item.create_date_time.GetYMD()</span> </li>
      }       
      </ul>
    </div>
    <div class="tuijian">
      <h2 class="hometitle">点击排行</h2>
      <ul class="tjpic">         
        <i><img src="@ViewBag.TopNewFirst.image"></i>
        <p><a href="/blog/@ViewBag.Index/news/@ViewBag.TopNewFirst.id">@ViewBag.TopNewFirst.title</a></p>
      </ul>
      <ul class="sidenews">
      @foreach (SkyBlog.Models.DbModel.news item in ViewBag.TopNewsList)
      {
        <li> <i><img src="@item.image"></i>
            <p><a href="/blog/@ViewBag.Index/news/@item.id">@item.title</a></p>
            <span>@item.create_date_time.GetYMD()</span> </li>
      }    
     
      </ul>
    </div>
    <div class="cloud">
      <h2 class="hometitle">标签云</h2>
      <ul>
        <a href="/">陌上花开</a> <a href="/">校园生活</a> <a href="/">html5</a> <a href="/">SumSung</a> <a href="/">青春</a> <a href="/">温暖</a> <a href="/">阳光</a> <a href="/">三星</a><a href="/">索尼</a> <a href="/">华维荣耀</a> <a href="/">三星</a> <a href="/">索尼</a>
      </ul>
    </div>
    <div class="links">
      <h2 class="hometitle">友情链接</h2>
      <ul>
        <li><a href="http://www.yangqq.com" target="_blank">杨青博客</a></li>
        <li><a href="http://www.yangqq.com" target="_blank">D设计师博客</a></li>
        <li><a href="http://www.yangqq.com" target="_blank">优秀个人博客</a></li>
      </ul>
    </div>
    <div class="guanzhu" id="float">
      <h2 class="hometitle">关注我们 么么哒！</h2>
      <ul>
        <li class="sina"><a href="/" target="_blank"><span>新浪微博</span>张光智博客</a></li>     
        <li class="qq"><a href="/" target="_blank"><span>QQ号</span>351500051</a></li>
        <li class="email"><a href="/" target="_blank"><span>邮箱帐号</span>351500051@qq.com</a></li>      
        <li class="wx"><img src="/blog/skin/default/images/wx.png"></li>
      </ul>
    </div>
  </div>