<!doctype html>
<html>
<head>
    <meta charset="gb2312">
    <title>首页 @ViewBag.Title - 一个程序猿的个人博客网站</title>
    <meta name="keywords" content="个人博客" />
    <meta name="description" content="个人博客，是一个程序猿的个人博客网站，提供个人博客文章技术交流。" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="@Url.Content("~/css/base.css")" rel="stylesheet">
    <link href="@Url.Content("~/css/index.css")" rel="stylesheet">
    <link href="@Url.Content("~/css/link.css")" rel="stylesheet">
    <link href="@Url.Content("~/css/about.css")" rel="stylesheet">
    <link href="@Url.Content("~/css/info.css")" rel="stylesheet">
    <link href="@Url.Content("~/css/m.css")" rel="stylesheet">
    <script src="@Url.Content("~/js/jquery.min.js")"></script>
    <script src="@Url.Content("~/js/jquery.easyfader.min.js")"></script>

    @RenderSection("style", required: false)
    <!--[if lt IE 9]>
    <script src="js/modernizr.js"></script>
    <![endif]-->
    <script>
        window.onload = function () {
            var oH2 = document.getElementsByTagName("h2")[0];
            var oUl = document.getElementsByTagName("ul")[0];
            oH2.onclick = function () {
                var style = oUl.style;
                style.display = style.display == "block" ? "none" : "block";
                oH2.className = style.display == "block" ? "open" : ""
            }
        }
    </script>
</head>
<body>
    <header>
        <div id="mnav">
            <h2><span class="navicon"></span></h2>
            <ul>
                <li><a href="/">网站首页</a></li>
                <li><a href="/blog/@ViewBag.Index/about">关于我</a></li>
                <li><a href="/blog/@ViewBag.Index/news">模板分享</a></li>
                <li><a href="/blog/@ViewBag.Index/news">学无止境</a></li>
                <li><a href="/blog/@ViewBag.Index/simplemessage">说说</a></li>
                <li><a href="/blog/@ViewBag.Index/link">博客导航</a></li>
                <li><a href="/blog/@ViewBag.Index/message">留言</a></li>
            </ul>
        </div>
        <div class="topnav">
            <nav>
                <ul>
                    <li><a href="/">网站首页</a></li>
                    <li><a href="/blog/@ViewBag.Index/about">关于我</a></li>
                    <li><a href="/blog/@ViewBag.Index/news">模板分享</a></li>
                    <li><a href="/blog/@ViewBag.Index/news">学无止境</a></li>
                    <li><a href="/blog/@ViewBag.Index/simplemessage">说说</a></li>
                    <li><a href="/blog/@ViewBag.Index/link">博客导航</a></li>
                    <li><a href="/blog/@ViewBag.Index/message">留言</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <article>
        @RenderBody()        
    </article>
    <footer>
        <p>Design by <a href="/">个人博客</a> <a href="/">蜀ICP备11002373号-1</a></p>
    </footer>
</body>
@RenderSection("scripts", required: false)
</html>
