@{
    ViewBag.Title = "张光智的小屋";
    Layout = "/Views/Shared/_Layout.cshtml";
}
@model IList<SkyBlog.Models.DbModel.news>
<div class="banner">
    <div id="sucaihuo" class="fader">
        <img class="slide" src="/blog/skin/default/images/banner01.jpg"> <img class="slide" src="/blog/skin/default/images/banner02.jpg"> <img class="slide" src="images/banner03.jpg">
        <div class="fader_controls">
            <div class="page prev" data-target="prev">&lsaquo;</div>
            <div class="page next" data-target="next">&rsaquo;</div>
            <ul class="pager_list"></ul>
        </div>
    </div>
    <script>
$(function() {
	$('#sucaihuo').easyFader();
});
    </script>
</div>

<div class="newblogs">
    <h2 class="hometitle">最新文章</h2>
    <ul>
    @foreach (var item in Model)
    {
        <li>
            <h3 class="blogtitle"><span><a href="/jstt/css3/" title="css3" target="_blank" class="classname">个人博客</a></span><a href="/blog/@ViewBag.Index/news/@item.id" target="_blank">@item.title</a></h3>
            <div class="bloginfo">
            @if(!string.IsNullOrEmpty(item.image))
            {
                <span class="blogpic"><a href="/blog/@ViewBag.Index/news/@item.id" title="@item.title"><img src="@item.image" alt="@item.title" /></a></span>
            }
                <p>@item.description</p>
            </div>
            <div class="autor"><span class="lm f_l"></span><span class="dtime f_l">@item.create_date_time.GetYMD()</span><span class="viewnum f_l">浏览（<a href="/">@item.number</a>）</span><span class="f_r"><a href="/blog/@ViewBag.Index/news/@item.id" class="more">阅读原文>></a></span></div>
            <div class="line"></div>
        </li>
    }       
    </ul>
</div>

@await Component.InvokeAsync("BlogRight",new { index=ViewBag.Index})
